<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_number %><br />
    <%= f.number_field :page_number %>
  </div>
  <div class="field">
    <%= f.label "data" %><br />
    <!-- Upload file and invoke "load_photo_file" method in the Controller to process the upload file -->
    <%= f.file_field :load_photo_file %>
  </div>

	<%= f.hidden_field :catalogue_id , :value => @page.catalogue_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
